@import "../../../assets/scss/utils/mixins";
/* Style for Inputsearch.tsx */
.input-search__container {
  width: 100%;

  .input-search__title {
    @include input-title;
  }
  .input-search__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .input-search_icon-search {
      position: absolute;
      font-size: 18px;
      margin-top: 3px;
      margin-left: 18px;
      i {
        @include gradient-text();
      }
    }
    .input-search__icon {
      &:hover {
        opacity: 0.7;
      }
    }
    .component__input {
      padding: 1rem 1.75rem 1rem 3rem;
      background-color: #f1f1f6;
    }
  }
}
